# https://platform.openai.com/settings/profile?tab=api-keys
export OPENAI_API_KEY="your_openai_api_key_here"
# https://replicate.com/account/api-tokens
export REPLICATE_API_TOKEN="your_replicate_api_token_here"
# https://console.anthropic.com/settings/keys
export ANTHROPIC_API_KEY="your_anthropic_api_key_here"
# https://huggingface.co/settings/tokens
export HF_TOKEN="your_huggingface_token_here"
export HUGGINGFACE_TOKEN=$HF_TOKEN # trossen robotics uses this convention
export HF_USER="your-huggingface-username"
# https://wandb.ai/settings#api
export WANDB_API_KEY="your_wandb_api_key_here"
# https://console.cloud.google.com/apis/credentials
export GOOGLE_API_KEY="your_google_api_key_here"
# https://console.x.ai/
export XAI_API_KEY="your_xai_api_key_here"

# Camera credentials
export CAMERA1_PASSWORD="camera_password_1"
export CAMERA2_PASSWORD="camera_password_2"
export CAMERA3_PASSWORD="camera_password_3"
export CAMERA4_PASSWORD="camera_password_4"
export CAMERA5_PASSWORD="camera_password_5"

# Compute node credentials
export RPI1_PASSWORD="rpi1_password"
export RPI2_PASSWORD="rpi2_password"
export OJO_PASSWORD="ojo_password"
export TROSSEN_AI_PASSWORD="trossen_ai_password"